<div id="docs-wrap"> <div id="context-box"> <div class="page-name">Audobox Changelog</div> </div> <div id="docs-main">
<h1>v0.12</h1>

<h2>New Features</h2>

<ul>
<li>You can now specify <a href="/docs#Custom-Keys">custom keys</a> with your feedback.</li>
<li>Developers can customize all the text in the client dialog</li>
</ul>

<h2>Bugfixes</h2>

<ul>
<li>Fix a threading issue that sometimes resulted in failed upload retries</li>
</ul>
</div></div>
