<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Moonsearch" />
</head>
<body>
Hi there! Thanks for inviting a friend to use Moonsearch. We appreciate it so much, we're giving you a free search too!
<br/><br/>
Use this link to claim it: <a href=<%= link %>>Moonsearch!</a>
<br/>
Moonsearch HQ — California
</body>
</html>
