<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  <link rel="stylesheet" href="../styles/fonts.css" type="text/css" />
  <link rel="stylesheet" href="../styles/animate-animo.css" type="text/css" />
  <title> <%= @title %> </title>
  <meta name="description" content="TedSearch" />
  <meta name="keywords" content="" />

</head>
<body>
  <div id="wrap">
    <div id="inner-wrap">
      <div id="search-box">
        <div id="logo">Moonsearch</div>

        <form class="search-form" action="/search" method="post">
          <div id="textfields">
            <div id="search-zip">
              <input type="text" id="searchbox" name="searchterm" autofocus/>
              <input type="text" class="zip" id="zipbox" name="zip" maxlength = "6" step="1" pattern="\d+"/>
              <label class="zipbox-label zip" for="zipbox">Zip</label>
            </div>
            <input type="email" placeholder="Your email address..." id="emailbox" style="display: none" name="email" autofocus/>
          </div>
          <div id="bottominfo-box" class="focus-border">
            <input type="checkbox" class="checkbox" id="nearby">
            <label class="checkbox-label" for="nearby">Find in-stock near me ($5)</label>
          </div>
          <div onClick="transitionToEmail();" title="ENGAGE SUPERGALACTIC SEARCH POWERS" class="simple-button">Find it for me in 5 minutes!</div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">

  // Google analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39773877-1']);
    _gaq.push(['_setDomainName', 'goretro.co']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    // Go Squared
    var GoSquared = {acct: "GSN-662058-E"};
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs);
    })(window);
  </script>

  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/animo.js"></script>
  <script src="../scripts/main.js"></script>


</body>
</html>