<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  <link rel="stylesheet" href="../styles/fonts.css" type="text/css" />
  <link rel="stylesheet" href="../styles/animate-animo.css" type="text/css" />
  <title> <%= @title %> </title>
  <meta name="description" content="TedSearch" />
  <meta name="keywords" content="" />

</head>
<body>
  <div id="wrap">
    <div id="inner-wrap">
      <div id="search-box">
        <div id="logo">Moonsearch</div>

        <!-- Begin query form. Wraps all sections between transitions -->
        <form class="search-form" action="/query" method="post">

          <!-- Group of fields (the query and potentially zip).
          These make up a section/card that gets animated out when
          the user is promted for their email -->
          <div id="query-zip-section">
            <div id="query-zip-fields">
              <input type="text" id="searchbox" name="query" autofocus/>
              <input type="text" class="zip" id="zipbox" name="zip" maxlength = "6" step="1" pattern="\d+"/>
              <label class="zipbox-label zip" for="zipbox">Zip</label>
            </div>

            <div class="bottominfo-box message">
              Find things in meatspace.
            </div>

          </div>

          <div id="email-section" style="display: none">

            <input type="email" placeholder="Your email address..." id="emailbox" name="email" autofocus/>

            <div class="bottominfo-box message">We'll send you our top 3 recommendations in 5 minutes.</div>

          </div>
        </form>
        <!-- End query form -->

        <div id="query-button" onClick="transitionToEmail();" title="ENGAGE SUPERGALACTIC SEARCH POWERS" class="simple-button">Find it nearby for me in 5 minutes!</div>

      </div>
    </div>
  </div>

  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/animo.js"></script>
  <script src="../scripts/main.js"></script>

</body>
</html>