<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  <link rel="stylesheet" href="../styles/fonts.css" type="text/css" />
  <link rel="stylesheet" href="../styles/animate-animo.css" type="text/css" />
  <title> <%= @title %> </title>
  <meta name="description" content="Moonsearch" />
  <meta name="keywords" content="" />

  <script type='text/javascript'>
    window.onAmazonLoginReady = function() {
      amazon.Login.setClientId('amzn1.application-oa2-client.8ee651afebde4c6c9a5fe4f07b54e41a');
    };
  </script>
</head>
<body>
  <div id="wrap">
    <div id="search-screen" class="absolute-center">
      <div id="logo">27 Minutes Later</div>

      <!-- Begin query form. Wraps all sections between transitions -->
      <form id="search-form" action="/query" method="post">

        <!-- Group of fields (the query and potentially zip).
        These make up a section/card that gets animated out when
        the user is promted for their email -->
        <div id="query-zip-section">
          <div id="query-zip-fields">
            <input type="text" id="searchbox" name="query" autofocus/>
            <input type="text" value="94043" class="zip" id="zipbox" name="zip" maxlength = "6" step="1" pattern="\d+" autocomplete="off"/>
            <label class="zipbox-label zip" for="zipbox">Zip</label>
          </div>
          <div class="bottominfo-box message">
            Find things nearby and in-stock. We'll email you where you can find it in just 27 minutes.
          </div>
        </div>
      </form>
      <!-- End query form -->

      <div id="query-button" class="fancy-button" onClick="transitionToConfirm();" title="ENGAGE SUPERGALACTIC SEARCH POWERS">Find it!</div>
      <div id="query-message"></div>
    </div>

    <div id="confirm-screen" class="absolute-center" style="display:none">
      <div id="confirm-details">
        <div id="confirm-details-countdown">
          <h1>27</h1>
          <h4>minutes left</h4>
        </div>
        <div id="confirm-details-message">
          <p></p>
        </div>
        <div id="confirm-details-location">
          <span>o</span><h3></h3>
        </div>
      </div>
      <div id="confirm-map">

      </div>

    </div>
  </div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="../scripts/animo.js"></script>
  <script src="../scripts/main.js"></script>

</body>
</html>