<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  <link rel="stylesheet" href="../styles/fonts.css" type="text/css" />

  <title> <%= @title %> </title>
  <meta name="description" content="Moonsearch" />
  <meta name="keywords" content="" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />


</head>
<body>


</body>
<!--
  TALK TO ME!!
       ,     ,
      (\____/)
       (_oo_)
         (O)
       __||__    \)
    []/______\[] /
    / \______/ \/
   /    /__\
  (\   /____\

  Want to come build the future with us?
  Email: future@audobox.com
-->
</html>
